In [1]:
import pandas as pd
import sqlalchemy
from matplotlib import pyplot as plt
import datetime
import numpy as np
import seaborn as sns
import pandas as pd
pd.options.mode.chained_assignment = None

In [2]:
db = sqlalchemy.engine.url.URL(drivername='mysql',
                            host='127.0.0.1',
                            database='sherman_1',
                            query={'read_default_file': '~/.my.cnf', 'charset':'utf8'})
engine = sqlalchemy.create_engine(db)

In [3]:
df = pd.read_sql('''
    SELECT * FROM sherman_1.calls;
''' ,engine)

In [4]:
# merge sensor info for the same participant
df_id = pd.read_csv('/home/memari/jhu_centering/tables/id.csv')
# second device_id
l = [17,18,61,20,22,37]
l2 = set()
for index in l:
    l2.add(df_id.loc[index,'device_id2'])
# create a dict of 'device_id2':'device_id1'
my_dict = {}
for index, row in df_id.iterrows():
    if row['device_id2'] in l2:
        my_dict[row['device_id2']] = row['device_id1']
# replace
for index, row in df.iterrows():
    if row['device_id'] in my_dict:
        df.loc[index,'device_id'] = my_dict[row['device_id']]

In [5]:
def get_incoming_outgoing_missed(df):
    uniq_device_id = list(set(df['device_id'].tolist()))
    df_output = pd.DataFrame()
    df_incoming = pd.DataFrame()
    df_outgoing = pd.DataFrame()
    df_missed = pd.DataFrame()
    for device_id in uniq_device_id:
        df_target = df[df['device_id']==device_id]
        df_target = df_target.sort_values(by = 'timestamp', ascending = False)
        df_output_temp = df_target[['device_id','timestamp']]
        past_type = df_target['call_type'].tolist()
        past_type = past_type[1:]+[None]
        future_type = df_target['call_type'].tolist()
        future_type = [None]+future_type[:-1]
        duration = df_target['call_duration'].tolist()
        duration = [None]+duration[:-1]
        df_target['past_type'] = past_type
        df_target['future_type'] = future_type
        df_target['duration'] = duration
        #incoming
        df_incoming_temp = df_target[(df_target['past_type']==1)&
                                   (df_target['call_type']==2)&
                                   (df_target['future_type']==4)]
        df_incoming_temp['incoming_time'] = df_incoming_temp['duration']
        df_incoming_temp = df_incoming_temp[['device_id','timestamp','incoming_time']]  
        #outgoing
        df_outgoing_temp = df_target[(df_target['past_type']==3)&
                                   (df_target['call_type']==2)&
                                   (df_target['future_type']==4)]
        df_outgoing_temp['outgoing_time'] = df_outgoing_temp['duration']
        df_outgoing_temp = df_outgoing_temp[['device_id','timestamp','outgoing_time']]
        #missing
        df_missing_temp = df_target[(df_target['call_type']==4)&
                                   (df_target['past_type']!=2)]
        df_missing_temp['missing_time'] = df_missing_temp['duration']
        df_missing_temp = df_missing_temp[['device_id','timestamp','missing_time']]
        df_output_temp = df_output_temp.merge(df_incoming_temp, on = ['device_id','timestamp'], how = 'left')
        df_output_temp = df_output_temp.fillna(0)
        df_output_temp = df_output_temp.merge(df_outgoing_temp, on = ['device_id','timestamp'], how = 'left')
        df_output_temp = df_output_temp.fillna(0)
        df_output_temp = df_output_temp.merge(df_missing_temp, on = ['device_id','timestamp'], how = 'left')
        df_output_temp = df_output_temp.fillna(0)
        if df_output_temp.shape[0]>0:
            df_output = pd.concat([df_output, df_output_temp], ignore_index=True)
    
    return df_output

In [6]:
df_less = get_incoming_outgoing_missed(df)
df_less['date'] = pd.to_datetime(df_less['timestamp'],unit='ms').dt.date

In [7]:
df_less = df_less[['device_id','date','incoming_time','outgoing_time','missing_time']]
df_less['incoming_freq'] = df_less['incoming_time'].apply(lambda x: int(x>0))
df_less['outgoing_freq'] = df_less['outgoing_time'].apply(lambda x: int(x>0))
df_less['missing_freq'] = df_less['missing_time'].apply(lambda x: int(x>0))

In [8]:
df_output = df_less.groupby(['device_id','date']).agg(incoming_time = ('incoming_time', np.sum),
                                                      incoming_freq = ('incoming_freq',np.sum),
                                                      outgoing_time = ('outgoing_time', np.sum),
                                                      outgoing_freq = ('outgoing_freq',np.sum),
                                                      missing_time = ('missing_time', np.sum),
                                                      missing_freq = ('missing_freq',np.sum),
                                                     )
df_output = df_output.reset_index()
df_output['incoming_freq'] = df_output['incoming_freq'].apply(lambda x: int(x))
df_output['outgoing_freq'] = df_output['outgoing_freq'].apply(lambda x: int(x))
df_output['missing_freq'] = df_output['missing_freq'].apply(lambda x: int(x))
df_output

,device_id,date,incoming_time,incoming_freq,outgoing_time,outgoing_freq,missing_time,missing_freq
0,00e17b8a-4b0f-4230-bd26-3df2853e8916,2022-12-19,625.0,3,24.0,2,0.0,0
1,00e17b8a-4b0f-4230-bd26-3df2853e8916,2022-12-20,1876.0,7,1830.0,14,1176.0,2
2,00e17b8a-4b0f-4230-bd26-3df2853e8916,2022-12-21,5157.0,10,803.0,3,0.0,0
3,00e17b8a-4b0f-4230-bd26-3df2853e8916,2022-12-22,1403.0,4,335.0,16,954.0,2
4,00e17b8a-4b0f-4230-bd26-3df2853e8916,2022-12-23,4783.0,6,996.0,4,0.0,0
...,...,...,...,...,...,...,...,...
2544,ffe96eaa-8909-4958-a34e-0ed1fe68f9bd,2022-12-27,29.0,1,1285.0,5,0.0,0
2545,ffe96eaa-8909-4958-a34e-0ed1fe68f9bd,2022-12-28,0.0,0,1795.0,3,0.0,0
2546,ffe96eaa-8909-4958-a34e-0ed1fe68f9bd,2022-12-29,0.0,0,911.0,6,0.0,0
2547,ffe96eaa-8909-4958-a34e-0ed1fe68f9bd,2022-12-30,13.0,1,330.0,3,0.0,0
2548,ffe96eaa-8909-4958-a34e-0ed1fe68f9bd,2022-12-31,484.0,2,330.0,2,58.0,2

In [9]:
df_output.to_csv("/home/memari/jhu_centering/tables/calls_cleaned.csv", index = False)

The experiments have been started on 11/11/2022.
We need to collect sensor information for each paritipant duraing days [1-14] and days [15-28].
Each participant would start the experminext in a diffrenet day.

In [10]:
# find the first day
def find_first_day(device_id, df):
    df_target = df[df['device_id']==device_id]
    return min(df_target['date'])

In [11]:
def get_1_14(df):
    first_day = {device_id:find_first_day(device_id, df) 
                 for device_id in set(df['device_id'].tolist())
                if find_first_day(device_id, df)>=datetime.date(year=2022,month=11,day=11)}
    df = df[df['device_id'].isin(first_day)]
    df['day'] = df.apply(lambda x: 1+(x['date']-first_day[x['device_id']]).days, axis = 1)
    df_1_14 = df[df['day']<=14]
    return df_1_14

In [37]:
def halve(df):
    first_day = {device_id:find_first_day(device_id, df) 
                 for device_id in set(df['device_id'].tolist())
                if find_first_day(device_id, df)>=datetime.date(year=2022,month=11,day=11)}
    df = df[df['device_id'].isin(first_day)]
    df['day'] = df.apply(lambda x: 1+(x['date']-first_day[x['device_id']]).days, axis = 1)
    df_1_14 = df[df['day']<=14]
    df_15_28 = df[(df['day']>14) & (df['day']<=28)]
    return df_1_14,df_15_28

In [35]:
df_1_14,df_15_28 = halve(df_output)

In [38]:
print(df_1_14)

                                 device_id        date  incoming_time  \
0     00e17b8a-4b0f-4230-bd26-3df2853e8916  2022-12-19          625.0
1     00e17b8a-4b0f-4230-bd26-3df2853e8916  2022-12-20         1876.0
2     00e17b8a-4b0f-4230-bd26-3df2853e8916  2022-12-21         5157.0
3     00e17b8a-4b0f-4230-bd26-3df2853e8916  2022-12-22         1403.0
4     00e17b8a-4b0f-4230-bd26-3df2853e8916  2022-12-23         4783.0
...                                    ...         ...            ...
2534  ffe96eaa-8909-4958-a34e-0ed1fe68f9bd  2022-12-17            0.0
2535  ffe96eaa-8909-4958-a34e-0ed1fe68f9bd  2022-12-18            0.0
2536  ffe96eaa-8909-4958-a34e-0ed1fe68f9bd  2022-12-19         1613.0
2537  ffe96eaa-8909-4958-a34e-0ed1fe68f9bd  2022-12-20         1382.0
2538  ffe96eaa-8909-4958-a34e-0ed1fe68f9bd  2022-12-21          859.0

      incoming_freq  outgoing_time  outgoing_freq  missing_time  missing_freq  \
0                 3           24.0              2           0.0             0
1                 7         1830.0             14        1176.0             2
2                10          803.0              3           0.0             0
3                 4          335.0             16         954.0             2
4                 6          996.0              4           0.0             0
...             ...            ...            ...           ...           ...
2534              0         1465.0              7         265.0             1
2535              0           80.0              1           0.0             0
2536              6           81.0              2           0.0             0
2537              8          510.0              7           3.0             1
2538              4          745.0              4           0.0             0

      day
0       1
1       2
2       3
3       4
4       5
...   ...
2534   10
2535   11
2536   12
2537   13
2538   14

[881 rows x 9 columns]

In [ ]:
grouped_1_14 = df_1_14.groupby('date')
grouped_15_28 = df_1_14.groupby('date')

In [ ]:
grouped_1_14['incoming_time'].mean().plot(kind='bar')
plt.title('Call Incoming Call day [1-14]')
plt.show()

In [ ]:
grouped_15_28['incoming_time'].mean().plot(kind='bar')
plt.title('Call Incoming Call day [15-28]')
plt.show()