In [1]:
import pandas as pd

In [2]:
df_id = pd.read_csv("/data/meditation/majid/tables/id.csv")
df_id

                               device_id        id  study_id
0   4a23c5dc-9a50-4d46-a12d-dd94ee98270f   8415477   8415477
1   f3845ba4-8702-42cf-a14f-051c46f66b61  15027959  15027959
2   ae02314b-a607-41b9-9507-28ffa1babed7  73386307  73386307
3   b460f89e-fd76-46ff-a960-989d74fcb66a  87785016  87785016
4   e5048fab-dc20-4d99-8cea-220a5a2750e0  14851895  14851895
..                                   ...       ...       ...
70  780c9b18-72d3-4714-858d-3c91b3719155  21788465  21788465
71  a1118578-bbb4-47ef-b784-7d5bd09ad8b5   7389236   7389236
72  00e17b8a-4b0f-4230-bd26-3df2853e8916  69546645  69546645
73  029e57cb-fa0d-479d-abd2-9cb5745f219d  72690342  72690342
74  826fee95-bb60-4915-9e63-d027bf225eb5  49211890  49211890

[75 rows x 3 columns]

In [3]:
df_id = df_id.drop('id', axis = 1)
df_id

                               device_id  study_id
0   4a23c5dc-9a50-4d46-a12d-dd94ee98270f   8415477
1   f3845ba4-8702-42cf-a14f-051c46f66b61  15027959
2   ae02314b-a607-41b9-9507-28ffa1babed7  73386307
3   b460f89e-fd76-46ff-a960-989d74fcb66a  87785016
4   e5048fab-dc20-4d99-8cea-220a5a2750e0  14851895
..                                   ...       ...
70  780c9b18-72d3-4714-858d-3c91b3719155  21788465
71  a1118578-bbb4-47ef-b784-7d5bd09ad8b5   7389236
72  00e17b8a-4b0f-4230-bd26-3df2853e8916  69546645
73  029e57cb-fa0d-479d-abd2-9cb5745f219d  72690342
74  826fee95-bb60-4915-9e63-d027bf225eb5  49211890

[75 rows x 2 columns]

In [4]:
df_id.columns = ['device_id1','survey_id']

In [5]:
df_id['device_id2'] = None

In [6]:
my_dict = {}

In [7]:
for index, row in df_id.iterrows():
    if row['survey_id'] in my_dict:
        if my_dict[row['survey_id']] != row['device_id1']:
            df_id.loc[index,'device_id2'] = my_dict[row['survey_id']]
    else:
        my_dict[row['survey_id']] = row['device_id1']

In [8]:
df_id.to_csv('/home/memari/jhu_centering/tables/id.csv',index=None)

In [9]:
df_id['survey_id'].nunique()

69

In [10]:
df_group = pd.read_csv('/data/meditation/majid/surveys/0.csv', skiprows=[1,2])[['Study ID','Group']]
df_group.columns = ['survey_id','group']
df_group

      survey_id                   group
0      29872387         Passive Control
1       7053820          Active Control
2      64399346  Experimental Condition
3      41845827         Passive Control
4      38737963  Experimental Condition
...         ...                     ...
1766   28859007  Experimental Condition
1767   25569345          Active Control
1768   96827593         Passive Control
1769   19859888          Active Control
1770   38761671         Passive Control

[1771 rows x 2 columns]

In [11]:
df_group['group'].isna().sum()

0

In [18]:
df_group['survey_id'].nunique()

1771

In [19]:
for group in ['Active Control', 'Experimental Condition', 'Passive Control']:
    print(group, len(df_group[df_group['group']==group]))

Active Control 595
Experimental Condition 587
Passive Control 589

In [20]:
595 + 587 + 589

1771

In [21]:
df_group2 = df_id.merge(df_group, on = 'survey_id', how = 'left')
df_group2

,device_id1,survey_id,device_id2,group
0,4a23c5dc-9a50-4d46-a12d-dd94ee98270f,8415477,None,Experimental Condition
1,f3845ba4-8702-42cf-a14f-051c46f66b61,15027959,None,Active Control
2,ae02314b-a607-41b9-9507-28ffa1babed7,73386307,None,Active Control
3,b460f89e-fd76-46ff-a960-989d74fcb66a,87785016,None,Active Control
4,e5048fab-dc20-4d99-8cea-220a5a2750e0,14851895,None,Passive Control
...,...,...,...,...
70,780c9b18-72d3-4714-858d-3c91b3719155,21788465,None,Active Control
71,a1118578-bbb4-47ef-b784-7d5bd09ad8b5,7389236,None,Passive Control
72,00e17b8a-4b0f-4230-bd26-3df2853e8916,69546645,None,Experimental Condition
73,029e57cb-fa0d-479d-abd2-9cb5745f219d,72690342,None,Passive Control
74,826fee95-bb60-4915-9e63-d027bf225eb5,49211890,None,Active Control

In [22]:
df_group2.to_csv('/home/memari/centering_majid/tables/id.csv',index=None)

In [23]:
df_group['survey_id'].nunique()

1771

In [24]:
for group in ['Active Control', 'Experimental Condition', 'Passive Control']:
    print(group, len(df_group[df_group['group']==group]))

Active Control 595
Experimental Condition 587
Passive Control 589